name: publish

on:
  # For convenience, run upon tagging a release.
  release:
    types:
    - published
  # This is mainly intended for snapshots.
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: temurin
        java-version: "17"
        check-latest: false
    - name: Install NDK
      run: |
        NDK_VERSION=$(awk -F= '/ndkVersion/ { print $2 }' gradle.properties)
        sudo bash -c "echo y | ${ANDROID_HOME}/cmdline-tools/latest/bin/sdkmanager --install 'ndk;${NDK_VERSION}'"
    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
    - name: Setup Rust
      id: rust-toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
        targets: aarch64-linux-android,armv7-linux-androideabi,i686-linux-android,x86_64-linux-android
    - name: Install cargo-binstall
      uses: cargo-bins/cargo-binstall@v1.16.0
    - name: Install bindgen-cli
      run: cargo binstall bindgen-cli -y
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Rust caching
      uses: Swatinem/rust-cache@v2
      with:
        key: ${{ steps.rust-toolchain.outputs.cachekey }}
        workspaces: divviup/rust
    - name: Upload artifacts
      env:
        ORG_GRADLE_PROJECT_ossrhUsername: ${{ secrets.OSSRH_USER_TOKEN_USERNAME }}
        ORG_GRADLE_PROJECT_ossrhPassword: ${{ secrets.OSSRH_USER_TOKEN_PASSWORD }}
        ORG_GRADLE_PROJECT_signingKey: ${{ secrets.PGP_SIGNING_KEY }}
        ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.PGP_SIGNING_PASSPHRASE }}
      run: ./gradlew :divviup:publishReleasePublicationToOSSRHRepository
